header{
    display: flex;
    justify-content: center;
    border-top: 8px solid #A1AE8D;
}

header p{
    position: relative;
    margin-top: 125px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: #F2F2F2;
   box-shadow: 5px 5px 5px 5px #100126;
   border-radius: 10px;
}

header div{
    position: relative;
   width: 700px;
}

#texto1{
    position: relative;
    margin-top: 0px;
    font-size: 20px;
    width: 90%;
}


.imagemLogo{
    position: relative;
    margin-left: 250px;
    height: 150px;
    width: 150px;
    top: 100px;
    border-radius: 50%;
    box-shadow:#100126 5px 5px 5px 5px;
}

.sectionPrimaria .imagens{
    box-shadow:#100126 0px 15px 15px 0px;
}

.imagens{
    height: 50px;
    width: 50px;
    border-radius: 200px;
    display: inline-block;
}

.sectionPrimaria .imagens:hover{
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.sectionPrimaria li{
    position: relative;
    padding: 10px;
}

.sectionPrimaria ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

.sectionPrimaria{
    position: relative;
    top: 10px;
}


/* --------------------------------------------------------------Section Secundaria-------------------------------------------------------------------------- */
.sectionSecundaria{
    position: relative;
    top: 30px;
    left: 33%;
    width: 40%;
    /* border: 1px solid red; */
}


.sectionSecundaria ul{
    list-style: none;
}

.sectionSecundaria li{
    width: 500px;
    height: 50px;
    background-color:  #6D3E8C;
    border-radius: 20px;
    box-shadow:#100126 5px 5px 5px 5px;
}

.sectionSecundaria a{
    position: relative;
    text-decoration: none;
    bottom: 20px;
    left: 15px;
    font-size: 30px;
    color:  #F2F2F2;
    font-family: italic;
    box-sizing: border-box;
}

.sectionSecundaria img{
    box-sizing: border-box;
   position: relative;
    left: 10px;
}

#stack{
    position: relative;
    float: right;
    clear: both;
    right: 40px;
    bottom: -20px;
}

#stack h3{
    color: #A1AE8D;
    font-weight: bold;
    font-size: 30px;
}

#stack ul{
    position: relative;
    display: flex;
}

#stack ul li{
    position: relative;
    list-style: none;
    padding: 5px;
    color:#F2F2F2;
}

#copy{
    position: relative;
    float: left;
    display: inline;
    bottom: -50px;
    width: 90%;
    left: 5%;
}

#copy p{
    position: relative;
    left: -140px;
    margin-top: 20px;
    color: #A1AE8D;
}

#copy hr {
    color: #A1AE8D;
}

#sobre{
    position: relative;
    left: 20px;
}

#sobre h2{
    color: #A1AE8D;
    font-weight: bold;
    font-size: 30px;
}

#sobre p{
    display: block;
    color: #F2F2F2;
}

#video iframe{
    position: relative;
    /* border: 3px solid green; */
    width: 640px;
    height: 360px;
    margin-top:10em;
    margin-left: 25em;
    margin-bottom: 10em;
    border-radius: 20px;
    border-top: 3px solid #A1AE8D;
    box-shadow:#100126 5px 5px 5px 5px;
}

/* --------------------------------------------------------------MediaQuery-------------------------------------------------------------------------- */

@media(max-width:750px) {
    .sectionSecundaria ul li{width: 100%;}
}
@media(max-width:750px) {
    .sectionSecundaria ul li a{font-size: 20px; align-self: center; font-weight: bold; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
}
@media(max-width:750px) {
    .sectionSecundaria ul li img{align-items: center;}
}

@media(max-width:700px) {
    .imagemLogo{margin-left: 35%; margin-top: -90px; }
}

@media(max-width:700px) {
    #video iframe{margin-left: 15%; margin-top: 90px; width: 500px; height: 280px;}
}


/* --------------------------------------------------------------400px-------------------------------------------------------------------------- */

@media(max-width:400px) {
    .sectionSecundaria ul li a{font-size: 70%; display: inline; position: relative;}
}
@media(max-width:400px) {
    .sectionSecundaria ul li {width: 200px; margin-left: -75px;}
}
@media(max-width:400px) {
    .sectionSecundaria {margin-left: -25px;}
}

@media(max-width:400px) {
    .sectionPrimaria ul {margin-left: 85px; border: 1px solid green; width: 200px; position: relative; right: 50px;}
}

@media(max-width:400px) {
    .sectionPrimaria ul li {position: relative; width: 13%; margin-right: 15px; right: -60px;}
}

@media(max-width:400px) {
    .sectionPrimaria .imagens {width: 30px; height: 30px; display: inline-block; position: relative; margin: 10px; right: 80px; }
}

@media(max-width:400px) {
    .imagemLogo{margin-left: 20px; margin-top: -90px; }
}

@media(max-width:400px) {
    header p{margin-left: 10px; }
}

@media(max-width:400px) {
    header div{width: 65%; right: 60px;}
}
@media(max-width:400px) {
    header div p {font-size: 90%;}
}

@media(max-width:400px) {
    #video iframe{margin-left: 15px; margin-top: 70px; width: 230px; height: 200px;}
}

@media(max-width:400px) {
   #stack{position: relative; top: -15px; left: 8px; width: 100%;}
}
@media(max-width:400px) {
   #stack li {font-size: 12px; right: 5px;}
}

@media(max-width:400px) {
   #stack h3 {font-size: 20px; right: 5px;}
}
@media(max-width:400px) {
   #sobre p {font-size: 14px; width: 70%; margin-right: 100px;}
}
@media(max-width:400px) {
   #sobre h2 {font-size: 20px;}
}

@media(max-width:400px) {
   #sobre{position: relative; top: -150px; left: 10px;}
}

@media(max-width:400px) {
   #copy {position: relative; top: -50px; }
}
@media(max-width:400px) {
   #copy p {position: relative; top: -10px; left: -5px; font-size: 80%;}
}
@media(max-width:400px) {
   #copy hr {position: relative; width: 70%;}
}
